:host {
  background-color: #22a898;
  height: 5rem;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 200;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
